#input signal 
set_io CLK_12M 20

#rgb values
set_io rgb_out 6
#set_io rgb_out[1] 44
#set_io rgb_out[2] 4
#set_io rgb_out[3] 3
#set_io rgb_out[4] 48
#set_io rgb_out[5] 45

#sync
set_io Hsync 47
set_io Vsync 46

set_io ground 2
set_io out_0 38

set_io test 28

#NES
set_io controller_data 43
set_io nes_clk 34
set_io nes_latch 37


# set_io -pullup 1