// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2.2.0.97.3
// Netlist written on Fri May  7 12:08:55 2021
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "/home/es4user/getBricked/game_logic/source/impl_1/cannon.vhd"
// file 1 "/home/es4user/getBricked/game_logic/source/impl_1/game_logic.vhd"
// file 2 "/home/es4user/getBricked/game_logic/source/impl_1/lfsr.vhd"
// file 3 "/home/es4user/getBricked/game_logic/source/impl_1/nes.vhd"
// file 4 "/home/es4user/getBricked/game_logic/source/impl_1/nes_counter.vhd"
// file 5 "/home/es4user/getBricked/game_logic/source/impl_1/ram.vhd"
// file 6 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_iCE40UP.v"
// file 7 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_iCE40UP.vhd"
// file 8 "/home/es4user/tools/radiant/2.2/ip/common/adder/rtl/lscc_adder.v"
// file 9 "/home/es4user/tools/radiant/2.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 10 "/home/es4user/tools/radiant/2.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 11 "/home/es4user/tools/radiant/2.2/ip/common/counter/rtl/lscc_cntr.v"
// file 12 "/home/es4user/tools/radiant/2.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 13 "/home/es4user/tools/radiant/2.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 14 "/home/es4user/tools/radiant/2.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 15 "/home/es4user/tools/radiant/2.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 16 "/home/es4user/tools/radiant/2.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 17 "/home/es4user/tools/radiant/2.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 18 "/home/es4user/tools/radiant/2.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 19 "/home/es4user/tools/radiant/2.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 20 "/home/es4user/tools/radiant/2.2/ip/common/rom/rtl/lscc_rom.v"
// file 21 "/home/es4user/tools/radiant/2.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 22 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_add.v"
// file 23 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_addsub.v"
// file 24 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_complex_mult.v"
// file 25 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_counter.v"
// file 26 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_dsp.v"
// file 27 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_fifo.v"
// file 28 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_fifo_dc.v"
// file 29 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_mac.v"
// file 30 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_mult.v"
// file 31 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_multaddsub.v"
// file 32 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_multaddsubsum.v"
// file 33 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dp.v"
// file 34 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dp_be.v"
// file 35 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dq.v"
// file 36 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_ram_dq_be.v"
// file 37 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_rom.v"
// file 38 "/home/es4user/tools/radiant/2.2/ip/pmi/pmi_sub.v"
// file 39 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/CCU2_B.v"
// file 40 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3BZ.v"
// file 41 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3DZ.v"
// file 42 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3IZ.v"
// file 43 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/FD1P3JZ.v"
// file 44 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/HSOSC.v"
// file 45 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/HSOSC1P8V.v"
// file 46 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/IB.v"
// file 47 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/IFD1P3AZ.v"
// file 48 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/LSOSC.v"
// file 49 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/LSOSC1P8V.v"
// file 50 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/OB.v"
// file 51 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/OBZ_B.v"
// file 52 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/OFD1P3AZ.v"
// file 53 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/PDP4K.v"
// file 54 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/RGB.v"
// file 55 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/RGB1P8V.v"
// file 56 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/SP256K.v"
// file 57 "/home/es4user/tools/radiant/2.2/cae_library/simulation/verilog/iCE40UP/legacy.v"

//
// Verilog Description of module game_logic
//

module game_logic (input data, input g_clk, output game_over);   /* synthesis lineinfo="@1(9[8],9[18])"*/
    
    (* is_clock=1 *) wire g_clk_c;   /* synthesis lineinfo="@1(19[3],19[8])"*/
    (* is_clock=1 *) wire b_clk;   /* synthesis lineinfo="@1(67[9],67[14])"*/
    
    wire GND_net, VCC_net, data_c, game_over_c;
    wire [19:0]b_nxt_row;   /* synthesis lineinfo="@1(61[9],61[18])"*/
    wire [3:0]b_count;   /* synthesis lineinfo="@1(62[9],62[16])"*/
    wire [3:0]b_addr;   /* synthesis lineinfo="@1(64[9],64[15])"*/
    wire [19:0]b_wr;   /* synthesis lineinfo="@1(65[9],65[13])"*/
    wire [19:0]b_rd;   /* synthesis lineinfo="@1(66[9],66[13])"*/
    wire [4:0]c_pos;   /* synthesis lineinfo="@1(69[9],69[14])"*/
    wire [7:0]g_count;   /* synthesis lineinfo="@1(72[9],72[16])"*/
    
    wire n1875, n2569, n2228, n2608, n2572, n2605, n45, n44, 
        n43, n42, n41, n40, n39, n38, n2602, n36, n2385, n35, 
        n34, n33, n32, n14, n10, n1873, n2379, n1871, n2376, 
        n2373, n22, n824, n2394, n818, n1423, n39_adj_179, n2370, 
        n2367, n2218, game_over_N_102, n2364, n937, n4, n2215, 
        n1877, n1671, n2391, fire_tmp, n1540, n938, n932, n939, 
        n934, n933, n940, n935, n2027, n2025, n2361, n2023, 
        n2021;
    
    VHI i2 (.Z(VCC_net));
    cannon c_controller ({c_pos}, data_c, VCC_net, fire_tmp, GND_net);   /* synthesis lineinfo="@1(76[17],76[23])"*/
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2385_bdd_4_lut (.A(n2385), 
            .B(b_rd[1]), .C(b_rd[0]), .D(c_pos[1]), .Z(n2215));
    defparam n2385_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \c_pos[0]_bdd_4_lut_5  (.A(c_pos[0]), 
            .B(b_rd[2]), .C(b_rd[3]), .D(c_pos[1]), .Z(n2385));
    defparam \c_pos[0]_bdd_4_lut_5 .INIT = "0xe4aa";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C))+!A !(B (C)+!B (C (D)+!C !(D)))))" *) LUT4 i2_4_lut (.A(b_count[2]), 
            .B(n1671), .C(b_count[3]), .D(n4), .Z(n2027));
    defparam i2_4_lut.INIT = "0x78e1";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2391_bdd_4_lut (.A(n2391), 
            .B(b_rd[17]), .C(b_rd[16]), .D(c_pos[1]), .Z(n2394));
    defparam n2391_bdd_4_lut.INIT = "0xaad8";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i1 (.D(n44), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[1]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i1.REGSET = "RESET";
    defparam g_count_188__i1.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i13 (.D(b_nxt_row[13]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[13]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i13.REGSET = "RESET";
    defparam b_wr_i13.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i1163_3_lut (.A(c_pos[3]), .B(n2394), 
            .C(c_pos[2]), .Z(n2228));   /* synthesis lineinfo="@1(85[14],85[31])"*/
    defparam i1163_3_lut.INIT = "0x0404";
    (* lut_function="(!(A+!(B)))" *) LUT4 i740_2_lut (.A(game_over_N_102), 
            .B(b_clk), .Z(n1671));
    defparam i740_2_lut.INIT = "0x4444";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \c_pos[0]_bdd_4_lut  (.A(c_pos[0]), 
            .B(b_rd[18]), .C(b_rd[19]), .D(c_pos[1]), .Z(n2391));
    defparam \c_pos[0]_bdd_4_lut .INIT = "0xe4aa";
    FD1P3XZ b_wr_i14 (.D(b_nxt_row[14]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[14]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i14.REGSET = "RESET";
    defparam b_wr_i14.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 mux_206_i1_3_lut (.A(n935), 
            .B(b_count[0]), .C(n824), .Z(n940));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam mux_206_i1_3_lut.INIT = "0xcaca";
    IB g_clk_pad (.I(g_clk), .O(g_clk_c));   /* synthesis lineinfo="@1(19[3],19[8])"*/
    FD1P3XZ b_wr_i15 (.D(b_nxt_row[15]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[15]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i15.REGSET = "RESET";
    defparam b_wr_i15.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 mux_206_i2_3_lut (.A(n934), 
            .B(b_count[1]), .C(n824), .Z(n939));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam mux_206_i2_3_lut.INIT = "0xcaca";
    FD1P3XZ b_wr_i4 (.D(b_nxt_row[4]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[4]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i4.REGSET = "RESET";
    defparam b_wr_i4.SRMODE = "CE_OVER_LSR";
    IB data_pad (.I(data), .O(data_c));   /* synthesis lineinfo="@1(18[3],18[7])"*/
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 mux_206_i3_3_lut (.A(n933), 
            .B(b_count[2]), .C(n824), .Z(n938));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam mux_206_i3_3_lut.INIT = "0xcaca";
    FD1P3XZ b_wr_i16 (.D(b_nxt_row[16]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[16]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i16.REGSET = "RESET";
    defparam b_wr_i16.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_count_i0_i0 (.D(n2025), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_count[0]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_count_i0_i0.REGSET = "RESET";
    defparam b_count_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 mux_206_i4_3_lut (.A(n932), 
            .B(b_count[3]), .C(n824), .Z(n937));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam mux_206_i4_3_lut.INIT = "0xcaca";
    OB game_over_pad (.I(game_over_c), .O(game_over));   /* synthesis lineinfo="@1(20[3],20[12])"*/
    FD1P3XZ b_addr_rep_1_i0 (.D(n940), .SP(VCC_net), .CK(g_clk_c), .SR(GND_net), 
            .Q(n935));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_rep_1_i0.REGSET = "RESET";
    defparam b_addr_rep_1_i0.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i5 (.D(b_nxt_row[5]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[5]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i5.REGSET = "RESET";
    defparam b_wr_i5.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_addr_i0_i0 (.D(b_count[0]), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_addr[0]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_i0_i0.REGSET = "RESET";
    defparam b_addr_i0_i0.SRMODE = "CE_OVER_LSR";
    FA2 g_count_188_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(g_count[7]), 
        .D0(n1877), .CI0(n1877), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n2608), .CI1(n2608), .CO0(n2608), .S0(n38));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188_add_4_9.INIT0 = "0xc33c";
    defparam g_count_188_add_4_9.INIT1 = "0xc33c";
    FD1P3XZ b_wr_i17 (.D(b_nxt_row[17]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[17]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i17.REGSET = "RESET";
    defparam b_wr_i17.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i18 (.D(b_nxt_row[18]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[18]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i18.REGSET = "RESET";
    defparam b_wr_i18.SRMODE = "CE_OVER_LSR";
    lfsr b_generator ({b_nxt_row}, b_clk);   /* synthesis lineinfo="@1(75[16],75[20])"*/
    FA2 g_count_188_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(g_count[5]), 
        .D0(n1875), .CI0(n1875), .A1(GND_net), .B1(GND_net), .C1(g_count[6]), 
        .D1(n2605), .CI1(n2605), .CO0(n2605), .CO1(n1877), .S0(n40), 
        .S1(n39));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188_add_4_7.INIT0 = "0xc33c";
    defparam g_count_188_add_4_7.INIT1 = "0xc33c";
    FA2 g_count_188_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(g_count[3]), 
        .D0(n1873), .CI0(n1873), .A1(GND_net), .B1(GND_net), .C1(g_count[4]), 
        .D1(n2602), .CI1(n2602), .CO0(n2602), .CO1(n1875), .S0(n42), 
        .S1(n41));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188_add_4_5.INIT0 = "0xc33c";
    defparam g_count_188_add_4_5.INIT1 = "0xc33c";
    FD1P3XZ b_wr_i6 (.D(b_nxt_row[6]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[6]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i6.REGSET = "RESET";
    defparam b_wr_i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i2 (.D(n43), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[2]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i2.REGSET = "RESET";
    defparam g_count_188__i2.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (C)+!A !(B+!(C))))" *) LUT4 i1203_2_lut_3_lut (.A(game_over_N_102), 
            .B(b_clk), .C(fire_tmp), .Z(n824));
    defparam i1203_2_lut_3_lut.INIT = "0x4f4f";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i19_4_lut (.A(n33), .B(n35), 
            .C(n34), .D(n36), .Z(n39_adj_179));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i19_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i13_4_lut (.A(b_rd[8]), .B(b_rd[17]), 
            .C(b_rd[13]), .D(b_rd[1]), .Z(n33));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i13_4_lut.INIT = "0xfffe";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i0 (.D(n45), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[0]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i0.REGSET = "RESET";
    defparam g_count_188__i0.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_addr_i0_i3 (.D(b_count[3]), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_addr[3]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_i0_i3.REGSET = "RESET";
    defparam b_addr_i0_i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_addr_i0_i2 (.D(b_count[2]), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_addr[2]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_i0_i2.REGSET = "RESET";
    defparam b_addr_i0_i2.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_addr_i0_i1 (.D(b_count[1]), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_addr[1]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_i0_i1.REGSET = "RESET";
    defparam b_addr_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i15_4_lut (.A(b_rd[12]), .B(b_rd[2]), 
            .C(b_rd[15]), .D(b_rd[11]), .Z(n35));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i15_4_lut.INIT = "0xfffe";
    FD1P3XZ b_addr_rep_1_i3 (.D(n937), .SP(VCC_net), .CK(g_clk_c), .SR(GND_net), 
            .Q(n932));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_rep_1_i3.REGSET = "RESET";
    defparam b_addr_rep_1_i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_addr_rep_1_i2 (.D(n938), .SP(VCC_net), .CK(g_clk_c), .SR(GND_net), 
            .Q(n933));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_rep_1_i2.REGSET = "RESET";
    defparam b_addr_rep_1_i2.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_addr_rep_1_i1 (.D(n939), .SP(VCC_net), .CK(g_clk_c), .SR(GND_net), 
            .Q(n934));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_addr_rep_1_i1.REGSET = "RESET";
    defparam b_addr_rep_1_i1.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i7 (.D(b_nxt_row[7]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[7]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i7.REGSET = "RESET";
    defparam b_wr_i7.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_count_i0_i3 (.D(n2027), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_count[3]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_count_i0_i3.REGSET = "RESET";
    defparam b_count_i0_i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_count_i0_i2 (.D(n2023), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_count[2]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_count_i0_i2.REGSET = "RESET";
    defparam b_count_i0_i2.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_count_i0_i1 (.D(n2021), .SP(n824), .CK(g_clk_c), .SR(GND_net), 
            .Q(b_count[1]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_count_i0_i1.REGSET = "RESET";
    defparam b_count_i0_i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i3 (.D(n42), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[3]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i3.REGSET = "RESET";
    defparam g_count_188__i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i19 (.D(b_nxt_row[19]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[19]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i19.REGSET = "RESET";
    defparam b_wr_i19.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C)+!B !(C))+!A !(B (C)+!B !(C))))" *) LUT4 i2_3_lut (.A(n4), 
            .B(n1671), .C(b_count[2]), .Z(n2023));
    defparam i2_3_lut.INIT = "0x6969";
    FD1P3XZ b_wr_i11 (.D(b_nxt_row[11]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[11]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i11.REGSET = "RESET";
    defparam b_wr_i11.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i14_4_lut (.A(b_rd[5]), .B(b_rd[19]), 
            .C(b_rd[10]), .D(b_rd[4]), .Z(n34));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i14_4_lut.INIT = "0xfffe";
    FD1P3XZ b_wr_i1 (.D(b_nxt_row[1]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[1]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i1.REGSET = "RESET";
    defparam b_wr_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i16_4_lut (.A(b_rd[7]), .B(n32), 
            .C(n22), .D(b_rd[18]), .Z(n36));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i16_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i12_4_lut (.A(b_rd[6]), .B(b_rd[9]), 
            .C(b_rd[0]), .D(b_rd[14]), .Z(n32));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i12_4_lut.INIT = "0xfffe";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i4 (.D(n41), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[4]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i4.REGSET = "RESET";
    defparam g_count_188__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i5 (.D(n40), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[5]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i5.REGSET = "RESET";
    defparam g_count_188__i5.SRMODE = "CE_OVER_LSR";
    FA2 g_count_188_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(g_count[1]), 
        .D0(n1871), .CI0(n1871), .A1(GND_net), .B1(GND_net), .C1(g_count[2]), 
        .D1(n2572), .CI1(n2572), .CO0(n2572), .CO1(n1873), .S0(n44), 
        .S1(n43));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188_add_4_3.INIT0 = "0xc33c";
    defparam g_count_188_add_4_3.INIT1 = "0xc33c";
    FA2 g_count_188_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(g_count[0]), .D1(n2569), .CI1(n2569), 
        .CO0(n2569), .CO1(n1871), .S1(n45));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188_add_4_1.INIT0 = "0xc33c";
    defparam g_count_188_add_4_1.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i6 (.D(n39), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[6]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i6.REGSET = "RESET";
    defparam g_count_188__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ g_count_188__i7 (.D(n38), .SP(VCC_net), 
            .CK(g_clk_c), .SR(GND_net), .Q(g_count[7]));   /* synthesis lineinfo="@1(98[15],98[22])"*/
    defparam g_count_188__i7.REGSET = "RESET";
    defparam g_count_188__i7.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i0 (.D(b_nxt_row[0]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[0]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i0.REGSET = "RESET";
    defparam b_wr_i0.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i8 (.D(b_nxt_row[8]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[8]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i8.REGSET = "RESET";
    defparam b_wr_i8.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i9 (.D(b_nxt_row[9]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[9]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i9.REGSET = "RESET";
    defparam b_wr_i9.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i2 (.D(b_nxt_row[2]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[2]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i2.REGSET = "RESET";
    defparam b_wr_i2.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i3 (.D(b_nxt_row[3]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[3]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i3.REGSET = "RESET";
    defparam b_wr_i3.SRMODE = "CE_OVER_LSR";
    FD1P3XZ b_wr_i10 (.D(b_nxt_row[10]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[10]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i10.REGSET = "RESET";
    defparam b_wr_i10.SRMODE = "CE_OVER_LSR";
    IOL_B game_over_i0 (.PADDI(GND_net), .DO1(GND_net), .DO0(game_over_N_102), 
          .CE(b_clk), .IOLTO(GND_net), .HOLD(GND_net), .INCLK(GND_net), 
          .OUTCLK(g_clk_c), .PADDO(game_over_c));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam game_over_i0.LATCHIN = "LATCH_REG";
    defparam game_over_i0.DDROUT = "NO";
    (* lut_function="(A+(B))" *) LUT4 i2_2_lut (.A(b_rd[16]), .B(b_rd[3]), 
            .Z(n22));   /* synthesis lineinfo="@1(93[8],93[55])"*/
    defparam i2_2_lut.INIT = "0xeeee";
    (* lut_function="(A (C (D)+!C !(D))+!A !(B (D)+!B !(C (D)+!C !(D))))" *) LUT4 i2_3_lut_4_lut (.A(game_over_N_102), 
            .B(b_clk), .C(n39_adj_179), .D(b_count[0]), .Z(n2025));
    defparam i2_3_lut_4_lut.INIT = "0xb04f";
    VLO i1 (.Z(GND_net));
    ram b_mem ({b_addr}, {n937, n938, n939, n940}, {b_wr}, {b_rd}, 
        g_clk_c, GND_net, VCC_net);   /* synthesis lineinfo="@1(74[10],74[13])"*/
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2361_bdd_4_lut (.A(n2361), 
            .B(b_rd[13]), .C(b_rd[12]), .D(c_pos[1]), .Z(n2364));
    defparam n2361_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(!(A+!(B (C (D)))))" *) LUT4 i3_4_lut (.A(b_count[1]), 
            .B(b_count[3]), .C(b_count[2]), .D(b_count[0]), .Z(game_over_N_102));   /* synthesis lineinfo="@1(101[9],101[52])"*/
    defparam i3_4_lut.INIT = "0x4000";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \c_pos[0]_bdd_4_lut_2  (.A(c_pos[0]), 
            .B(b_rd[14]), .C(b_rd[15]), .D(c_pos[1]), .Z(n2361));
    defparam \c_pos[0]_bdd_4_lut_2 .INIT = "0xe4aa";
    (* lut_function="(A (B (C (D))))" *) LUT4 i7_4_lut (.A(g_count[0]), .B(n14), 
            .C(n10), .D(g_count[3]), .Z(b_clk));
    defparam i7_4_lut.INIT = "0x8000";
    FD1P3XZ b_wr_i12 (.D(b_nxt_row[12]), .SP(n1423), .CK(g_clk_c), .SR(n1540), 
            .Q(b_wr[12]));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam b_wr_i12.REGSET = "RESET";
    defparam b_wr_i12.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (D)+!B !(D))+!A !(B (D)+!B (C (D)+!C !(D)))))" *) LUT4 i2_3_lut_4_lut_adj_49 (.A(b_count[0]), 
            .B(n1671), .C(n39_adj_179), .D(b_count[1]), .Z(n2021));   /* synthesis lineinfo="@1(101[5],110[12])"*/
    defparam i2_3_lut_4_lut_adj_49.INIT = "0x7689";
    (* lut_function="(A ((D)+!B)+!A !(B+!(C+(D))))" *) LUT4 i256_4_lut_4_lut (.A(b_count[0]), 
            .B(n1671), .C(n39_adj_179), .D(b_count[1]), .Z(n4));   /* synthesis lineinfo="@1(101[5],110[12])"*/
    defparam i256_4_lut_4_lut.INIT = "0xbb32";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2367_bdd_4_lut (.A(n2367), 
            .B(b_rd[9]), .C(b_rd[8]), .D(c_pos[1]), .Z(n2370));
    defparam n2367_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \c_pos[0]_bdd_4_lut_3  (.A(c_pos[0]), 
            .B(b_rd[10]), .C(b_rd[11]), .D(c_pos[1]), .Z(n2367));
    defparam \c_pos[0]_bdd_4_lut_3 .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2373_bdd_4_lut (.A(n2373), 
            .B(n2218), .C(n2215), .D(c_pos[3]), .Z(n2376));
    defparam n2373_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \c_pos[2]_bdd_4_lut  (.A(c_pos[2]), 
            .B(n2370), .C(n2364), .D(c_pos[3]), .Z(n2373));
    defparam \c_pos[2]_bdd_4_lut .INIT = "0xe4aa";
    (* lut_function="(A (B+(D))+!A !((D)+!C))" *) LUT4 n2379_bdd_4_lut (.A(n2379), 
            .B(b_rd[5]), .C(b_rd[4]), .D(c_pos[1]), .Z(n2218));
    defparam n2379_bdd_4_lut.INIT = "0xaad8";
    (* lut_function="(A (C+!(D))+!A (B (D)))" *) LUT4 \c_pos[0]_bdd_4_lut_4  (.A(c_pos[0]), 
            .B(b_rd[6]), .C(b_rd[7]), .D(c_pos[1]), .Z(n2379));
    defparam \c_pos[0]_bdd_4_lut_4 .INIT = "0xe4aa";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(n818), .B(n1671), .Z(n1423));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut (.A(g_count[1]), .B(g_count[4]), 
            .C(g_count[5]), .D(g_count[7]), .Z(n14));
    defparam i6_4_lut.INIT = "0x8000";
    (* lut_function="(!((B)+!A))" *) LUT4 i640_2_lut (.A(n818), .B(n1671), 
            .Z(n1540));   /* synthesis lineinfo="@1(81[3],114[10])"*/
    defparam i640_2_lut.INIT = "0x2222";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut_adj_50 (.A(g_count[2]), .B(g_count[6]), 
            .Z(n10));
    defparam i2_2_lut_adj_50.INIT = "0x8888";
    (* lut_function="(!(A (B+!(C+!(D)))+!A (B+!(C (D)))))" *) LUT4 i142_4_lut (.A(n2376), 
            .B(fire_tmp), .C(n2228), .D(c_pos[4]), .Z(n818));   /* synthesis lineinfo="@1(82[4],96[11])"*/
    defparam i142_4_lut.INIT = "0x3022";
    
endmodule

//
// Verilog Description of module cannon
//

module cannon (output [4:0]c_pos, input data_c, input VCC_net, output fire_tmp, 
            input GND_net);
    
    
    wire n915, n6, move_right, n8, n2, pos_tmp_4__N_147, move_left, 
        n8_adj_178;
    
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A (B (C (D)+!C !(D))+!B (D)))" *) LUT4 i2_4_lut (.A(c_pos[3]), 
            .B(n915), .C(n6), .D(c_pos[4]), .Z(c_pos[4]));
    defparam i2_4_lut.INIT = "0xdb24";
    (* lut_function="(A+(B (C (D))))" *) LUT4 i738_4_lut (.A(move_right), 
            .B(c_pos[3]), .C(n8), .D(c_pos[0]), .Z(n915));
    defparam i738_4_lut.INIT = "0xeaaa";
    (* lut_function="(A (B (C)))" *) LUT4 i3_3_lut (.A(c_pos[2]), .B(c_pos[1]), 
            .C(c_pos[4]), .Z(n8));
    defparam i3_3_lut.INIT = "0x8080";
    (* lut_function="(A (B+(C (D)))+!A (B (C+(D))))" *) LUT4 i228_4_lut (.A(c_pos[2]), 
            .B(n915), .C(c_pos[1]), .D(n2), .Z(n6));   /* synthesis lineinfo="@0(34[3],38[10])"*/
    defparam i228_4_lut.INIT = "0xecc8";
    (* lut_function="(A+!((C)+!B))" *) LUT4 i214_3_lut (.A(c_pos[0]), .B(n915), 
            .C(pos_tmp_4__N_147), .Z(n2));   /* synthesis lineinfo="@0(34[3],38[10])"*/
    defparam i214_3_lut.INIT = "0xaeae";
    (* lut_function="(!(A+!(B+(C+(D)))))" *) LUT4 pos_tmp_4__I_44_4_lut (.A(move_left), 
            .B(c_pos[3]), .C(n8_adj_178), .D(c_pos[0]), .Z(pos_tmp_4__N_147));   /* synthesis lineinfo="@0(36[9],36[52])"*/
    defparam pos_tmp_4__I_44_4_lut.INIT = "0x5554";
    (* lut_function="(A+(B+(C)))" *) LUT4 i3_3_lut_adj_45 (.A(c_pos[2]), .B(c_pos[1]), 
            .C(c_pos[4]), .Z(n8_adj_178));   /* synthesis lineinfo="@0(36[32],36[51])"*/
    defparam i3_3_lut_adj_45.INIT = "0xfefe";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut (.A(n2), 
            .B(n915), .C(c_pos[1]), .Z(c_pos[1]));
    defparam i2_3_lut.INIT = "0x9696";
    (* lut_function="(A (B (D)+!B !(C (D)+!C !(D)))+!A (B (C (D)+!C !(D))+!B (D)))" *) LUT4 i2_4_lut_adj_46 (.A(c_pos[1]), 
            .B(n915), .C(n2), .D(c_pos[2]), .Z(c_pos[2]));
    defparam i2_4_lut_adj_46.INIT = "0xdb24";
    (* lut_function="(!(A (B (C)+!B !(C))+!A (C)))" *) LUT4 i2_3_lut_adj_47 (.A(n915), 
            .B(pos_tmp_4__N_147), .C(c_pos[0]), .Z(c_pos[0]));
    defparam i2_3_lut_adj_47.INIT = "0x2d2d";
    (* lut_function="(A (B (C)+!B !(C))+!A !(B (C)+!B !(C)))" *) LUT4 i2_3_lut_adj_48 (.A(n6), 
            .B(n915), .C(c_pos[3]), .Z(c_pos[3]));
    defparam i2_3_lut_adj_48.INIT = "0x9696";
    nes cannon_controller (data_c, move_left, VCC_net, fire_tmp, move_right, 
        GND_net);   /* synthesis lineinfo="@0(31[22],31[25])"*/
    
endmodule

//
// Verilog Description of module nes
//

module nes (input data_c, output move_left, input VCC_net, output fire_tmp, 
            output move_right, input GND_net);
    
    (* is_clock=1, SET_AS_NETWORK="\c_controller/cannon_controller/NESclk" *) wire NESclk;   /* synthesis lineinfo="@3(9[9],9[15])"*/
    (* is_clock=1 *) wire clk_d;   /* synthesis lineinfo="@3(34[12],34[17])"*/
    
    wire temp_7__N_160;
    wire [7:0]NEScount;   /* synthesis lineinfo="@3(10[9],10[17])"*/
    
    wire n6, \temp[6] , \temp[5] , \temp[4] , \temp[3] , \temp[2] , 
        GND_net_c;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) HSOSC_CORE HSOSC_C (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .TRIM9(GND_net_c), .TRIM8(GND_net_c), .TRIM7(GND_net_c), 
            .TRIM6(GND_net_c), .TRIM5(GND_net_c), .TRIM4(GND_net_c), .TRIM3(GND_net_c), 
            .TRIM2(GND_net_c), .TRIM1(GND_net_c), .TRIM0(GND_net_c), .CLKHF(clk_d));   /* synthesis lineinfo="@0(31[22],31[25])"*/
    defparam HSOSC_C.CLKHF_DIV = "0b00";
    defparam HSOSC_C.FABRIC_TRIME = "DISABLE";
    (* lut_function="(!(A+(B+(C+(D)))))" *) LUT4 i1213_4_lut (.A(NEScount[5]), 
            .B(NEScount[7]), .C(NEScount[6]), .D(n6), .Z(temp_7__N_160));
    defparam i1213_4_lut.INIT = "0x0001";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i8 (.D(\temp[6] ), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(fire_tmp));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i8.REGSET = "RESET";
    defparam temp__i8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(NEScount[3]), .B(NEScount[4]), 
            .Z(n6));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i7 (.D(\temp[5] ), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(\temp[6] ));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i7.REGSET = "RESET";
    defparam temp__i7.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i6 (.D(\temp[4] ), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(\temp[5] ));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i6.REGSET = "RESET";
    defparam temp__i6.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i5 (.D(\temp[3] ), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(\temp[4] ));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i5.REGSET = "RESET";
    defparam temp__i5.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i4 (.D(\temp[2] ), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(\temp[3] ));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i4.REGSET = "RESET";
    defparam temp__i4.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i3 (.D(move_right), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(\temp[2] ));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i3.REGSET = "RESET";
    defparam temp__i3.SRMODE = "CE_OVER_LSR";
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) FD1P3XZ temp__i2 (.D(move_left), 
            .SP(temp_7__N_160), .CK(NESclk), .SR(GND_net_c), .Q(move_right));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i2.REGSET = "RESET";
    defparam temp__i2.SRMODE = "CE_OVER_LSR";
    nes_counter counter_C (GND_net, NEScount[3], NEScount[7], clk_d, 
            NEScount[6], NEScount[5], NEScount[4], NESclk, VCC_net);   /* synthesis lineinfo="@3(40[17],40[28])"*/
    (* lse_init_val=0, LSE_LINE_FILE_ID=93, LSE_LCOL=22, LSE_RCOL=25, LSE_LLINE=31, LSE_RLINE=31 *) IOL_B temp__i1 (.PADDI(data_c), 
            .DO1(GND_net_c), .DO0(GND_net_c), .CE(temp_7__N_160), .IOLTO(GND_net_c), 
            .HOLD(GND_net_c), .INCLK(NESclk), .OUTCLK(GND_net_c), .DI0(move_left));   /* synthesis lineinfo="@3(48[3],50[10])"*/
    defparam temp__i1.LATCHIN = "NONE_REG";
    defparam temp__i1.DDROUT = "NO";
    VLO i1 (.Z(GND_net_c));
    
endmodule

//
// Verilog Description of module nes_counter
//

module nes_counter (input GND_net, output \NEScount[3] , output \NEScount[7] , 
            input clk_d, output \NEScount[6] , output \NEScount[5] , output \NEScount[4] , 
            output NESclk, input VCC_net);
    
    (* is_clock=1 *) wire clk_d;   /* synthesis lineinfo="@3(34[12],34[17])"*/
    (* is_clock=1, SET_AS_NETWORK="\c_controller/cannon_controller/NESclk" *) wire NESclk;   /* synthesis lineinfo="@3(9[9],9[15])"*/
    
    wire n1863, n2593, n6, n1865;
    wire [16:0]n73;
    
    wire n1861, n2590, n8, n7, n1859, n2587, n10, n1857, n2584, 
        n12, n11, n13, n14, n15, n16, n17, n1855, n2581, n1853, 
        n2578, n1867, n2599, n2575, n2596, VCC_net_c, GND_net_c;
    
    FA2 i_189_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(n6), .D0(n1863), 
        .CI0(n1863), .A1(GND_net), .B1(GND_net), .C1(\NEScount[3] ), 
        .D1(n2593), .CI1(n2593), .CO0(n2593), .CO1(n1865), .S0(n73[11]), 
        .S1(n73[12]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_13.INIT0 = "0xc33c";
    defparam i_189_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i16 (.D(n73[15]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(\NEScount[6] ));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i16.REGSET = "RESET";
    defparam i_189__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i15 (.D(n73[14]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(\NEScount[5] ));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i15.REGSET = "RESET";
    defparam i_189__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i14 (.D(n73[13]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(\NEScount[4] ));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i14.REGSET = "RESET";
    defparam i_189__i14.SRMODE = "CE_OVER_LSR";
    FA2 i_189_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(n8), .D0(n1861), 
        .CI0(n1861), .A1(GND_net), .B1(GND_net), .C1(n7), .D1(n2590), 
        .CI1(n2590), .CO0(n2590), .CO1(n1863), .S0(n73[9]), .S1(n73[10]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_11.INIT0 = "0xc33c";
    defparam i_189_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i13 (.D(n73[12]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(\NEScount[3] ));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i13.REGSET = "RESET";
    defparam i_189__i13.SRMODE = "CE_OVER_LSR";
    FA2 i_189_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(n10), .D0(n1859), 
        .CI0(n1859), .A1(GND_net), .B1(GND_net), .C1(NESclk), .D1(n2587), 
        .CI1(n2587), .CO0(n2587), .CO1(n1861), .S0(n73[7]), .S1(n73[8]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_9.INIT0 = "0xc33c";
    defparam i_189_add_4_9.INIT1 = "0xc33c";
    FA2 i_189_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(n12), .D0(n1857), 
        .CI0(n1857), .A1(GND_net), .B1(GND_net), .C1(n11), .D1(n2584), 
        .CI1(n2584), .CO0(n2584), .CO1(n1859), .S0(n73[5]), .S1(n73[6]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_7.INIT0 = "0xc33c";
    defparam i_189_add_4_7.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i12 (.D(n73[11]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n6));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i12.REGSET = "RESET";
    defparam i_189__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i11 (.D(n73[10]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n7));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i11.REGSET = "RESET";
    defparam i_189__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i10 (.D(n73[9]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n8));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i10.REGSET = "RESET";
    defparam i_189__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i9 (.D(n73[8]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(NESclk));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i9.REGSET = "RESET";
    defparam i_189__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i8 (.D(n73[7]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n10));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i8.REGSET = "RESET";
    defparam i_189__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i7 (.D(n73[6]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n11));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i7.REGSET = "RESET";
    defparam i_189__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i6 (.D(n73[5]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n12));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i6.REGSET = "RESET";
    defparam i_189__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i5 (.D(n73[4]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n13));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i5.REGSET = "RESET";
    defparam i_189__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i4 (.D(n73[3]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n14));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i4.REGSET = "RESET";
    defparam i_189__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i3 (.D(n73[2]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n15));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i3.REGSET = "RESET";
    defparam i_189__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i2 (.D(n73[1]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n16));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i2.REGSET = "RESET";
    defparam i_189__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i1 (.D(n73[0]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(n17));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i1.REGSET = "RESET";
    defparam i_189__i1.SRMODE = "CE_OVER_LSR";
    FA2 i_189_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(n14), .D0(n1855), 
        .CI0(n1855), .A1(GND_net), .B1(GND_net), .C1(n13), .D1(n2581), 
        .CI1(n2581), .CO0(n2581), .CO1(n1857), .S0(n73[3]), .S1(n73[4]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_5.INIT0 = "0xc33c";
    defparam i_189_add_4_5.INIT1 = "0xc33c";
    FA2 i_189_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(n16), .D0(n1853), 
        .CI0(n1853), .A1(GND_net), .B1(GND_net), .C1(n15), .D1(n2578), 
        .CI1(n2578), .CO0(n2578), .CO1(n1855), .S0(n73[1]), .S1(n73[2]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_3.INIT0 = "0xc33c";
    defparam i_189_add_4_3.INIT1 = "0xc33c";
    FA2 i_189_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(\NEScount[6] ), 
        .D0(n1867), .CI0(n1867), .A1(GND_net), .B1(GND_net), .C1(\NEScount[7] ), 
        .D1(n2599), .CI1(n2599), .CO0(n2599), .S0(n73[15]), .S1(n73[16]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_17.INIT0 = "0xc33c";
    defparam i_189_add_4_17.INIT1 = "0xc33c";
    FA2 i_189_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), .A1(GND_net), 
        .B1(VCC_net), .C1(n17), .D1(n2575), .CI1(n2575), .CO0(n2575), 
        .CO1(n1853), .S1(n73[0]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_1.INIT0 = "0xc33c";
    defparam i_189_add_4_1.INIT1 = "0xc33c";
    FA2 i_189_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(\NEScount[4] ), 
        .D0(n1865), .CI0(n1865), .A1(GND_net), .B1(GND_net), .C1(\NEScount[5] ), 
        .D1(n2596), .CI1(n2596), .CO0(n2596), .CO1(n1867), .S0(n73[13]), 
        .S1(n73[14]));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189_add_4_15.INIT0 = "0xc33c";
    defparam i_189_add_4_15.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ i_189__i17 (.D(n73[16]), .SP(VCC_net_c), 
            .CK(clk_d), .SR(GND_net_c), .Q(\NEScount[7] ));   /* synthesis lineinfo="@4(21[9],21[10])"*/
    defparam i_189__i17.REGSET = "RESET";
    defparam i_189__i17.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net_c));
    VHI i1 (.Z(VCC_net_c));
    
endmodule

//
// Verilog Description of module lfsr
//

module lfsr (output [19:0]b_nxt_row, input b_clk);
    
    (* is_clock=1 *) wire b_clk;   /* synthesis lineinfo="@1(67[9],67[14])"*/
    
    wire n33, n35, n34, n36, i_19__N_127, n32, n22, VCC_net, 
        GND_net;
    
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i19 (.D(i_19__N_127), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[19]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i19.REGSET = "RESET";
    defparam i_i19.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i19_4_lut (.A(n33), 
            .B(n35), .C(n34), .D(n36), .Z(i_19__N_127));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i19_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i13_4_lut (.A(b_nxt_row[8]), 
            .B(b_nxt_row[17]), .C(b_nxt_row[13]), .D(b_nxt_row[1]), .Z(n33));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i13_4_lut.INIT = "0x6996";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i18 (.D(b_nxt_row[19]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[18]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i18.REGSET = "RESET";
    defparam i_i18.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i17 (.D(b_nxt_row[18]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[17]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i17.REGSET = "RESET";
    defparam i_i17.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i16 (.D(b_nxt_row[17]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[16]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i16.REGSET = "RESET";
    defparam i_i16.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i15 (.D(b_nxt_row[16]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[15]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i15.REGSET = "RESET";
    defparam i_i15.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i14 (.D(b_nxt_row[15]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[14]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i14.REGSET = "RESET";
    defparam i_i14.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i13 (.D(b_nxt_row[14]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[13]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i13.REGSET = "RESET";
    defparam i_i13.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i12 (.D(b_nxt_row[13]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[12]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i12.REGSET = "RESET";
    defparam i_i12.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i11 (.D(b_nxt_row[12]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[11]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i11.REGSET = "RESET";
    defparam i_i11.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i10 (.D(b_nxt_row[11]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[10]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i10.REGSET = "RESET";
    defparam i_i10.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i9 (.D(b_nxt_row[10]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[9]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i9.REGSET = "RESET";
    defparam i_i9.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i8 (.D(b_nxt_row[9]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[8]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i8.REGSET = "RESET";
    defparam i_i8.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i7 (.D(b_nxt_row[8]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[7]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i7.REGSET = "RESET";
    defparam i_i7.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i6 (.D(b_nxt_row[7]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[6]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i6.REGSET = "RESET";
    defparam i_i6.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i5 (.D(b_nxt_row[6]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[5]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i5.REGSET = "RESET";
    defparam i_i5.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i4 (.D(b_nxt_row[5]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[4]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i4.REGSET = "RESET";
    defparam i_i4.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i3 (.D(b_nxt_row[4]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[3]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i3.REGSET = "RESET";
    defparam i_i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i2 (.D(b_nxt_row[3]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[2]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i2.REGSET = "RESET";
    defparam i_i2.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i1 (.D(b_nxt_row[2]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[1]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i1.REGSET = "RESET";
    defparam i_i1.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i15_4_lut (.A(b_nxt_row[12]), 
            .B(b_nxt_row[2]), .C(b_nxt_row[15]), .D(b_nxt_row[11]), .Z(n35));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i15_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i14_4_lut (.A(b_nxt_row[5]), 
            .B(b_nxt_row[19]), .C(b_nxt_row[10]), .D(b_nxt_row[4]), .Z(n34));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i14_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i16_4_lut (.A(b_nxt_row[7]), 
            .B(n32), .C(n22), .D(b_nxt_row[18]), .Z(n36));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i16_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))+!A !(B (C (D)+!C !(D))+!B !(C (D)+!C !(D)))))" *) LUT4 i12_4_lut (.A(b_nxt_row[6]), 
            .B(b_nxt_row[9]), .C(b_nxt_row[0]), .D(b_nxt_row[14]), .Z(n32));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i12_4_lut.INIT = "0x6996";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i2_2_lut (.A(b_nxt_row[16]), 
            .B(b_nxt_row[3]), .Z(n22));   /* synthesis lineinfo="@2(23[11],23[16])"*/
    defparam i2_2_lut.INIT = "0x6666";
    (* LSE_LINE_FILE_ID=90, LSE_LCOL=16, LSE_RCOL=20, LSE_LLINE=75, LSE_RLINE=75 *) FD1P3XZ i_i0 (.D(b_nxt_row[1]), 
            .SP(VCC_net), .CK(b_clk), .SR(GND_net), .Q(b_nxt_row[0]));   /* synthesis lineinfo="@2(20[3],25[10])"*/
    defparam i_i0.REGSET = "RESET";
    defparam i_i0.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module ram
//

module ram (input [3:0]b_addr, input [3:0]n941, input [19:0]b_wr, output [19:0]b_rd, 
            input g_clk_c, input GND_net, input VCC_net);
    
    (* is_clock=1 *) wire g_clk_c;   /* synthesis lineinfo="@1(19[3],19[8])"*/
    
    wire GND_net_c;
    
    (* ECO_MEM_TYPE="EBR", ECO_MEM_ID="\b_mem/mem", ECO_MEM_SIZE="[20, 16]", ECO_MEM_BLOCK_SIZE="[16, 16]", ECO_MEM_BLOCK_POS="[0, 0]" *) EBR_B mem0 (.RADDR10(GND_net_c), 
            .RADDR9(GND_net_c), .RADDR8(GND_net_c), .RADDR7(GND_net), 
            .RADDR6(GND_net), .RADDR5(GND_net), .RADDR4(GND_net), .RADDR3(n941[3]), 
            .RADDR2(n941[2]), .RADDR1(n941[1]), .RADDR0(n941[0]), .WADDR10(GND_net_c), 
            .WADDR9(GND_net_c), .WADDR8(GND_net_c), .WADDR7(GND_net), 
            .WADDR6(GND_net), .WADDR5(GND_net), .WADDR4(GND_net), .WADDR3(b_addr[3]), 
            .WADDR2(b_addr[2]), .WADDR1(b_addr[1]), .WADDR0(b_addr[0]), 
            .MASK_N15(GND_net), .MASK_N14(GND_net), .MASK_N13(GND_net), 
            .MASK_N12(GND_net), .MASK_N11(GND_net), .MASK_N10(GND_net), 
            .MASK_N9(GND_net), .MASK_N8(GND_net), .MASK_N7(GND_net), .MASK_N6(GND_net), 
            .MASK_N5(GND_net), .MASK_N4(GND_net), .MASK_N3(GND_net), .MASK_N2(GND_net), 
            .MASK_N1(GND_net), .MASK_N0(GND_net), .WDATA15(b_wr[15]), 
            .WDATA14(b_wr[14]), .WDATA13(b_wr[13]), .WDATA12(b_wr[12]), 
            .WDATA11(b_wr[11]), .WDATA10(b_wr[10]), .WDATA9(b_wr[9]), 
            .WDATA8(b_wr[8]), .WDATA7(b_wr[7]), .WDATA6(b_wr[6]), .WDATA5(b_wr[5]), 
            .WDATA4(b_wr[4]), .WDATA3(b_wr[3]), .WDATA2(b_wr[2]), .WDATA1(b_wr[1]), 
            .WDATA0(b_wr[0]), .RCLKE(VCC_net), .RCLK(g_clk_c), .RE(VCC_net), 
            .WCLKE(VCC_net), .WCLK(g_clk_c), .WE(GND_net), .RDATA15(b_rd[15]), 
            .RDATA14(b_rd[14]), .RDATA13(b_rd[13]), .RDATA12(b_rd[12]), 
            .RDATA11(b_rd[11]), .RDATA10(b_rd[10]), .RDATA9(b_rd[9]), 
            .RDATA8(b_rd[8]), .RDATA7(b_rd[7]), .RDATA6(b_rd[6]), .RDATA5(b_rd[5]), 
            .RDATA4(b_rd[4]), .RDATA3(b_rd[3]), .RDATA2(b_rd[2]), .RDATA1(b_rd[1]), 
            .RDATA0(b_rd[0]));
    defparam mem0.INIT_0 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_1 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_2 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_3 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_4 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_5 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_6 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_7 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_8 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_9 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_A = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_B = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_C = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_D = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_E = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.INIT_F = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem0.DATA_WIDTH_W = "16";
    defparam mem0.DATA_WIDTH_R = "16";
    (* ECO_MEM_TYPE="EBR", ECO_MEM_ID="\b_mem/mem", ECO_MEM_SIZE="[20, 16]", ECO_MEM_BLOCK_SIZE="[16, 16]", ECO_MEM_BLOCK_POS="[16, 0]" *) EBR_B mem1 (.RADDR10(GND_net_c), 
            .RADDR9(GND_net_c), .RADDR8(GND_net_c), .RADDR7(GND_net), 
            .RADDR6(GND_net), .RADDR5(GND_net), .RADDR4(GND_net), .RADDR3(n941[3]), 
            .RADDR2(n941[2]), .RADDR1(n941[1]), .RADDR0(n941[0]), .WADDR10(GND_net_c), 
            .WADDR9(GND_net_c), .WADDR8(GND_net_c), .WADDR7(GND_net), 
            .WADDR6(GND_net), .WADDR5(GND_net), .WADDR4(GND_net), .WADDR3(b_addr[3]), 
            .WADDR2(b_addr[2]), .WADDR1(b_addr[1]), .WADDR0(b_addr[0]), 
            .MASK_N15(GND_net), .MASK_N14(GND_net), .MASK_N13(GND_net), 
            .MASK_N12(GND_net), .MASK_N11(GND_net), .MASK_N10(GND_net), 
            .MASK_N9(GND_net), .MASK_N8(GND_net), .MASK_N7(GND_net), .MASK_N6(GND_net), 
            .MASK_N5(GND_net), .MASK_N4(GND_net), .MASK_N3(GND_net), .MASK_N2(GND_net), 
            .MASK_N1(GND_net), .MASK_N0(GND_net), .WDATA15(GND_net), .WDATA14(GND_net), 
            .WDATA13(GND_net), .WDATA12(GND_net), .WDATA11(GND_net), .WDATA10(GND_net), 
            .WDATA9(GND_net), .WDATA8(GND_net), .WDATA7(GND_net), .WDATA6(GND_net), 
            .WDATA5(GND_net), .WDATA4(GND_net), .WDATA3(b_wr[19]), .WDATA2(b_wr[18]), 
            .WDATA1(b_wr[17]), .WDATA0(b_wr[16]), .RCLKE(VCC_net), .RCLK(g_clk_c), 
            .RE(VCC_net), .WCLKE(VCC_net), .WCLK(g_clk_c), .WE(GND_net), 
            .RDATA3(b_rd[19]), .RDATA2(b_rd[18]), .RDATA1(b_rd[17]), .RDATA0(b_rd[16]));
    defparam mem1.INIT_0 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_1 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_2 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_3 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_4 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_5 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_6 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_7 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_8 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_9 = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_A = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_B = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_C = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_D = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_E = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.INIT_F = "0x0000000000000000000000000000000000000000000000000000000000000000";
    defparam mem1.DATA_WIDTH_W = "16";
    defparam mem1.DATA_WIDTH_R = "16";
    VLO i1 (.Z(GND_net_c));
    
endmodule
